<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Страница поиска</title>
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
 </head>
 <body>
 


<h2>Это страница поиска <%=type%> за временной интервал <%=time%></h2>

<button type="button" class="btn btn-primary"><a href="http://localhost:8440/search"><font color="white">Вернуться на страницу поиска</font></a></button>


 
   <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript">






        



</script>

 </body>
</html>

